# HEIC originals (converted to JPG for browser compatibility)
Images/*.HEIC

# Unused images not referenced in site
Images/8AA54240-27A3-40EA-AF09-F28E75BE9DBC.JPG
Images/C73F221C-4F7A-41EE-A43C-A119F3A28D4A.JPG
Images/IMG_2983.JPG
Images/IMG_3350.JPG
Images/IMG_4229.JPG
Images/IMG_4478.JPG
Images/IMG_4570.JPG
Images/IMG_4622.JPG
Images/IMG_4829.JPG
Images/IMG_5129.JPG
Images/IMG_5140.JPG
Images/IMG_5143.JPG
Images/IMG_5241.PNG
Images/sd1768792985_2.MP4
